@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#root {
  width: 100%;
  background: rgb(116, 137, 212);
  background: linear-gradient(90deg, rgba(116, 137, 212, 1) 0%, rgba(156, 143, 192, 1) 35%, rgba(202, 150, 169, 1) 100%);
  height: 100vh;
  overflow: hidden;
}

#upper {
  width: 100%;
  height: 85%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#lan{
  width: 5%;
  cursor: pointer;
  padding: 0.4rem 1.7rem;
  background-color: rgb(15,15,15);
  color: white;
  border: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 85%;
}

#lan:active{
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

#fullBody {
  width: 40%;
  margin: auto;
  background-color: #0F0F0F;
  display: flex;
  border-radius: 5px;
  padding: 50px 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.part {
  background-color: #0F0F0F;
  /* padding: 20px; */
  width: 25%;
  flex-direction: row;
  padding: 5px;
}

.part h1 {
  color: #F4F6F6;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.part p {
  color: #ABB2B9;
  text-align: center;
  font-size: 0.7rem;
}

.divider {
  color: #ABB2B9;
  font-size: 2.5rem;
  transform: translateY(-15%);
}

#footer {
  font-size: .8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10%;
  padding: 20px;
}

#footer p {
  color: #fbfbfb;
}

#footer a {
  color: #fbfbfb;
}

/* Responsive-Part */
@media only screen and (max-width: 1150px) {
  #fullBody {
    width: 42%;
  }
}

@media only screen and (max-width: 945px) {
  #fullBody {
    width: 50%;
  }
}

@media only screen and (max-width: 790px) {
  #fullBody {
    width: 60%;
  }
}

@media only screen and (max-width: 670px) {
  #fullBody {
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {
  #fullBody {
    width: 80%;
  }
}

@media only screen and (max-width: 485px) {

  #fullBody {
    width: 90%;
    padding: 40px 10px;
  }

  .part h1 {
    font-size: 2rem;
  }

  .part p {
    font-size: 0.6rem;
  }

  .divider {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 400px) {

  #lan{
    margin-top: 4%;
    margin-left: 80%;
  }

  #fullBody {
    width: 90%;
    padding: 40px 10px;
  }

  .part h1 {
    font-size: 1.5rem;
  }

  .part p {
    font-size: 0.5rem;
  }

  .divider {
    font-size: 1.5rem;
  }

}